/* styles.css */
h1 {
  font-family: system-ui;
}

body {
  font-family: system-ui;
}

.feed {
  line-height: 1.1;
}

.entry {
  padding: 2px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); /* Adjust the minmax values as needed */
  gap: 40px; /* Adjust the gap between grid items */
}

.over {
  border: 2px dashed #000;
}

.draggable-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  gap: 10px;
  width: 100%;
}
