<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/js/edit.js"></script>
    <title>
      Edit
    </title>
  </head>
  <body>
    <h1>Edit feeds</h1>
    <div class="edit-grid">
      <div id="add-item" class="edit pseudo-button">
        <p>
          &plus;
          <br>
          Add feed
        </p>
      </div>
      <div id="add-item" class="edit pseudo-button">
        <p>
          &#128190
          <br>
          Save order
        </p>
      </div>
      <div id="delete-zone" class="edit">
        <p>
          &#128465
          <br>
          Drop here to delete
        </p>
      </div>
    </div>
    <br>
    <br>

      <div class="draggable-grid">
          {{range $feed := .Body}}
            <div class="draggable-item" draggable="true">
              {{$feed.Title}}
                <a href="{{$feed.Link}}" style="align-self: end;" draggable="false">{{$feed.Link}}</a>
            </div>
            
          {{end}}
      </div>
  </body>
</html>